
header{
    background-color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.header-text{
    font-weight: bold;
    position:absolute;
    left:3.5%;
    top:2.25%;
    margin-left:10px;
}
img{
    float:left;
    margin-left:10px;
}
.list1{
    cursor:pointer;
    display: inline;
    flex-direction: row;
    list-style: none;
    margin-right:20px;
}
.block-1{
    position: relative;
    top: 50%;
}
.button-1{
    cursor:pointer;
    border:1px solid white;
    padding:6px;
    border-radius: 6px;
    width: 7%;
    position: absolute;
    top:34%;
    left:46.5%;

}
.img-1{
    height: 120px;
    position: absolute;
    left:46.5%;
    top:12%;
}   
.first-block{
    height: 350px;
    width: 100%;    
    background: url(../images/banner.png) no-repeat bottom fixed;
    text-align: center;
    color:white;
}
.main-content-block{
    width:90%;
    padding-top:20px;
}
.main-content-items{
    width: 360px;
    float:left;
    text-align:left;
}
.main-content-items:last-child{
    float:right;
}
.main-content-items:first-child{
    margin-left:250px;
}
.main-content-items:nth-child(2){
    margin-left:200px;
}
.second-block{
    padding-top: 30px;
    width: 500px;
    margin-left: 350px;
}
.img-2{
    position: absolute;
    left:62%;
    top:68.5%;
    width: 400px;
    height: 250px;
    
}
.bg-1{
    margin-top:200px;
    width: 100%;
    height: 350px;
    background-color: rgb(243, 241, 241)
}
.img-3{
    position:absolute;
    left:18.25%;
    top:106.5%;
    width:400px;
    height:250px;
}
.third-block{
    float:right;
    margin-top:50px;
    width:500px;
    margin-right:300px
}
footer{
    margin-top:500px
}