header{
    background-color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.name-top{
    font-weight: bold;
    position:absolute;
    left:4.5%;
    top:2.5%;
}
img{
    float:left;
}
.list1{
    cursor:pointer;
    display: inline;
    flex-direction: row;
    list-style: none;
}