header{
    background-color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    position:fixed;
    width: 100%;
}
.header-text{
    font-weight: bold;
    position:absolute;
    left:3.5%;
    top:30%;
    margin-left:10px;
}
img{
    display: flex;
    margin-left:10px;
}
.list1{
    cursor:pointer;
    display: inline;
    flex-direction: row;
    list-style: none;
    margin-right:20px;
    font-weight: bold;
}
.block-1{
    position: relative;
    top: 59%;
}
.button-1{
    cursor:pointer;
    border:1px solid white;
    background-color: transparent;
    color:white;
    font-weight: bold;
    padding:8px;
    border-radius: 6px;
    width: 7%;
    position: absolute;
    top:32%;
    left:46.5%;

}
.img-1{
    height: 120px;
    position: absolute;
    left:46.5%;
    top:9.5%;
}   
.first-block{
    height: 350px;
    width: 100%;    
    background: url(../images/banner.png) no-repeat bottom fixed;
    text-align: center;
    color:white;
}
.main-content-block{
    height: 5px;
    padding-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-text{
    width: 330px;
}
.second-block{
    padding-top: 30px;
    width: 500px;
    margin-left: 350px;
}
.img-2{
    position: absolute;
    left:62%;
    top:64%;
    width: 400px;
    height: 250px;
    
}
.bg-1{
    margin-top:200px;
    height: 350px;
    background-color: rgb(243, 241, 241);
}
.img-3{
    position:absolute;
    left:18.25%;
    top:100%;
    width:400px;
    height:250px;
}
.third-block{
    width:500px;
    padding-top:px;
    margin-right:300px;
    margin-left:1100px
}
.bg-2{
    margin-top:50px;
    height: 350px;
}
.form-bg{
    width:100%;
    height:450px;
    background-color: rgb(243, 241, 241);
    text-align:center;
    padding-top: 35px;
}
.field-1{
    width:20%;
    height: 20%;
    border:2px solid #04d6a5;
    margin:0 auto;
    text-align: left;
}
select{
    width:105px;
    height:25px;
    border-radius:5px;
    margin-top:7px;
    margin-bottom:7px;
    margin-left:75px
}
.sel-2{
    margin-left:155px
}
legend{
    color:#04d6a5;
    font-weight: bold;
}
label{
    font-weight: bold;
}
.form-2{
    padding-top:20px;
}
.field-2{
    width:20%;
    height: 130px;
    border:2px solid #04d6a5;
    margin:0 auto;
    text-align: left;
}
input{
    width:150px;
    height:18px;
    border-radius:5px;
    margin-left:150px;
    margin-top:7px;
    margin-bottom:7px
}
.inp-1{
    margin-left: 180px;
}
.inp-2{
    margin-left: 165px;
}
.btn{
    padding-top:15px
}
.btn-2{
    border:2px solid #04d6a5;
    border-radius:6px;
    height:30px;
    width:100px;
    margin-right: 307px;
    text-align: center;
    color:#04d6a5;
    font-weight: bold;
    cursor: pointer;
}
footer{
    margin:0;
    margin-top:-15px
}    
.foot{
    width: 100%;
    height:200px;
    background-color: #283747 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foot-1{
    text-align:center;
    padding-top: 30px;
    color:white
}
.foot-2{
    margin-top:-20px;
    text-align: left;
    color:white
}
.year{
    color:rgba(255,255,255,0.4);
    padding-top:15px;

}
.img-4{
    position:relative;
    top:23%;
    left:-80%
}
.foot-list{
    text-align: left;
}
a{
    color:black
}
.a-1{
    color:white
}